<%- include('partials/header') %>
<div class="mt-5">
  <h3>Add product</h3>
  <form style="width: 400px;" method="POST" action="/products/create">
    <div class="mb-3">
      <label for="sku" class="form-label">SKU</label>
      <input type="text" class="form-control" id="sku" name="sku">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="text" class="form-control" id="price" name="price">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
<%- include('partials/footer') %>