<%- include('partials/header') %>
  <div class="row justify-content-between mt-5">
    <div class="col-4">
      <h3>Products Table</h3>
    </div>
    <div class="col-4 text-end">
      <a href="/products/create" class="btn btn-success">Add product</a>
    </div>
  </div>
  <%- include('partials/products-table') %>
    <%- include('partials/footer') %>