<%- include('partials/header') %>
    <div class="row justify-content-between mt-5">
        <div class="col-4">
            <h3>User Table</h3>
        </div>
        <div class="col-4 text-end">
            <a href="/users/create-user" class="btn btn-success">Add User</a>
        </div>
    </div>
    <%- include('partials/users-table') %>
        <%- include('partials/footer') %>